</br>

<div class="container-fluid">
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="jumbotron">
      <h1>Are you ready to ROCK?!</h1>
      <p>Start to record your video answers IMMEDIATELY, because it's just so easy, save your time for typing some text - BE A PART OF US!</p>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#videoRecorderModal">
        Record Video
      </button>
    </div><!-- jumbotron -->
  </div><!-- col-xs-8 col-xs-offset-2 -->
</div><!-- row -->
</div><!-- container-fluid -->

<div class="container-fluid">
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <% @all_videos.each_slice(3) do |row_chunk| %>
    <div class="row">
      <% row_chunk.each do |video_token| %>
      <div class="col-xs-4">
        <%= raw('<ziggeo ziggeo-video="'+ video_token +'" ziggeo-width=320 ziggeo-height=240></ziggeo>') %>
      </div><!-- col-xs-4 -->
      <% end %>
    </div><!-- row -->
  </br>
  <% end %>
</div><!-- col-xs-8 col-xs-offset-2 -->
</div><!-- row -->
</div><!-- container-fluid -->

<div class="modal fade" id="videoRecorderModal" tabindex="-1" role="dialog" aria-labelledby="videoRecorderModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="videoRecorderModalLabel">Video recorder</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="wall-of-videos-container">
          <ziggeo ziggeo-limit=15 ziggeo-width=320 ziggeo-height=240></ziggeo>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

<script>
ZiggeoApi.Events.on("submitted", function (data) {
  alert("The video with token " + data.video.token + " has been submitted!");
});
</script>
