<h1>Editing Quiz</h1>

<%= render 'form' %>


<div class="left">
  <%= link_to 'Show', @quiz , class: "link-to btn btn-info" %>
  <%= link_to 'Back', quizzes_path, class: "link-to btn btn-danger"  %>
</div>
