<h1> Quizzes list </h1>
<ul class="list-group">
  <li ng-repeat="quiz in quizzes" class="list-group-item">
    <div class="row">
      <div class="col-xs-7">
        <a href="/quizzes/{{quiz.id}}/start" class="link-to btn btn-success">Start quiz</a>
        <span>{{quiz.name}}</span>
      </div>
      <div class="col-xs-5">
        <a href="/quizzes/{{quiz.id}}" class="link-to btn btn-success">Show</a>
        <a href="/quizzes/{{quiz.id}}/edit" class="link-to btn btn-info">Edit</a>
        <a href="" class="link-to btn btn-danger" ng-click="deleteQuiz(quiz.id)">Delete</a>
      </div>
    </div>
  </li>
</ul>
<a href="/quizzes/new" class="link-to btn btn-success right">New quiz</a>
