$main-green: #5CC790;
$white: white;
$dark-white: #EDEFF2;

/*================================*/
/*  Style classes from ZiggeoApi  */
/*================================*/
.video-recorder-dashboard-under {
  display: none;
}

.video-recorder-dashboard {
  display: none;
}

/*================================*/
/* Custom style for VideoQiuz app */
/*================================*/
.alert.alert-success {
  display: none;
}

.video-recorder.component {
  background-color: $main-green;
  border-radius: 10px;
  color: $dark-white;
}

.video-recorder.component .status-bar {
  padding: 10px 20px 10px 20px;
}

.status-bar p {
  margin: 0px;
  font-size: 16px;
}

.video-recorder.component .control-panel {
  padding: 10px 15px 10px 15px;
}
.control-panel .recorder-btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #edeff2);
  background-image: -moz-linear-gradient(top, #ffffff, #edeff2);
  background-image: -ms-linear-gradient(top, #ffffff, #edeff2);
  background-image: -o-linear-gradient(top, #ffffff, #edeff2);
  background-image: linear-gradient(to bottom, #ffffff, #edeff2);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: 2px solid $main-green;
  color: $main-green;
  font-size: 12px;
  padding: 7px 15px 5px 17px;
  margin: 0px 5px 0px 5px;
}

.control-panel .recorder-btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #edeff2);
  background-image: -moz-linear-gradient(top, #ffffff, #edeff2);
  background-image: -ms-linear-gradient(top, #ffffff, #edeff2);
  background-image: -o-linear-gradient(top, #ffffff, #edeff2);
  background-image: linear-gradient(to bottom, #ffffff, #edeff2);
  border-color: darken($main-green, 15%);
  text-decoration: none;
}

.control-panel .recorder-btn.record {
  color: red;
}
